<h1><%= "All #{@tenants.count} Tenants"%></h1><br/>
<%= link_to 'Add new tenant', new_tenant_path %><br/><br/>
<table id = "tenants" class = "index">
  <thead>
  <tr>
    <th><%= sortable_link_to "name", "Name" %></th>
    <th><%= sortable_link_to "email", "Email ID" %></th>

    <th><%= sortable_link_to "phase", "Phase #" %></th>
    <th><%= sortable_link_to "plot_number", "Plot #" %></th>
    <th><%= sortable_link_to "plot_area", "Area" %></th>

    <th><%= sortable_link_to "house_number", "House #" %></th>
    <th><%= sortable_link_to "house_status", "House Status" %></th>
    <th><%= sortable_link_to "house_area", "Area" %></th>
    <th><%= sortable_link_to "rwh", "RWH" %></th>

    <th/>
  </tr>
  </thead>
  <tbody>
  <% @tenants.each do |tenant| %>
      <% present tenant do |tenant_presenter| %>
          <tr>
            <td><%=tenant_presenter.name%></td>
            <td><%=tenant_presenter.email%></td>

            <td><%=tenant.phase%></td>
            <td><%=tenant_presenter.plot_number%></td>
            <td><%=tenant.plot_area%></td>

            <td><%=tenant_presenter.house_number%></td>
            <td><%=tenant_presenter.house_status%></td>
            <td><%=tenant.house_area%></td>
            <td><%=tenant_presenter.rwh%></td>

            <td><%= button_to 'Delete', tenant_path(tenant), :method => :delete, :confirm => 'Are you sure?' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
