<% present @tenant do |tenant_presenter| %>
  <h2><%= "Details for Tenant #{@tenant.email}" %></h2><br/>
  <ul class="show_fields">
    <li><label>Name: </label><span><%= @tenant.name %></span></li>
    <li><label>Email: </label><span><%= @tenant.email %></span></li>
    <br/>
    <li><label>Phase #: </label><%= @tenant.phase %></li>
    <li><label>Plot #: </label><%= tenant_presenter.plot_number %></li>

    <li><label>House #: </label><%= tenant_presenter.house_number %></li>
    <li><label>House Area: </label><%=@tenant.house_area%></li>
    <li><label>RWH #: </label><%= @tenant.rwh %></li>
  </ul><br/>

  <ul class = "show_links">
    <li><%= link_to 'New Tenant', new_tenant_path %></li>
    <li><%= link_to 'Back to Tenant list', tenants_path %></li>
    <li><%= button_to 'Delete', tenant_path(@tenant), :method => :delete, :confirm => 'Are you sure?' %></li>
  </ul>
  <% end %>
