<%= f.inputs do %>
  <%= f.input :phase, label: "Phase #:", as: :radio, collection: Plot.phase_range, default: "1", autofocus: true %>
  <%= f.input :plot_number, label: "Plot #:", autofocus: true  %>
  <%= f.input :number, :label => "House #:" %>
  <%= f.input :status, label: "Status:", as: :radio, collection: House.status_options %>
  <%= f.input :area, label: "Area (sq ft):", as: :string  %>
  <%= f.input :rwh, label: "Rainwater Harvesting:", as: :string %>
<% end %>
<%= f.actions do %>
  <%= f.action :submit, :as => :input %>
<% end %>
