<h1><%= "All #{@owners.count} Owners" %></h1><br/>
<table id = "owners" class = "index">
  <thead>
  <tr>
    <th><%= sortable_link_to "name", "Name" %></th>
    <th><%= sortable_link_to "email", "Email ID" %></th>

    <th><%= sortable_link_to "phase", "Phase #" %></th>
    <th><%= sortable_link_to "plot_number", "Plot #" %></th>
    <th><%= sortable_link_to "plot_status", "Plot Status" %></th>
    <th><%= sortable_link_to "plot_area", "Area" %></th>

    <th><%= sortable_link_to "type", "Member Type" %></th>

    <th><%= sortable_link_to "house_number", "House #" %></th>
    <th><%= sortable_link_to "house_status", "House Status" %></th>
    <th><%= sortable_link_to "rwh", "rwh" %></th>
    <th><%= sortable_link_to "house_area", "Built Area" %></th>

  </tr>
  </thead>
  <tbody>
  <% @owners.each do |owner| %>
    <% present owner do |owner_presenter| %>
      <tr>
        <td><%=owner_presenter.name%></td>
        <td><%=owner_presenter.email%></td>

        <td><%=owner.phase%></td>
        <td><%=owner_presenter.plot_number%></td>
        <td><%=owner_presenter.plot_status%></td>
        <td><%=owner.plot_area%></td>

        <td><%=owner.type%></td>

        <td><%=owner_presenter.house_number%></td>
        <td><%=owner_presenter.house_status%></td>
        <td><%=owner_presenter.rwh%></td>
        <td><%=owner.house_area%></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
