<% present @owner do |owner_presenter| %>
<h2><%= "Details for Owner #{@owner.email}" %></h2><br/>
  <ul class="show_fields">
    <li><label>Name: </label><span><%= @owner.name %></span></li>
    <li><label>Email: </label><span><%= @owner.email %></span></li>
    <li><label>Type: </label><span><%= @owner.type %></span></li>
    <br/>
    <li><label>Phase #: </label><%= @owner.phase %></li>
    <li><label>Plot #: </label><%= @owner.plot_number %></li>
    <li><label>Plot Status: </label><%=@owner.plot_status%></li>
    <li><label>Plot Area: </label><%=@owner.plot_area%></li>
  </ul><br/>

  <ul class = "show_links">
    <li><%= link_to 'Back to Owner list', owners_path %></li>
  </ul>
<% end %>
