<h1><%= "Edit House # #{@house.number}"  %></h1>
<br/>
<%= semantic_form_for @house, :url => {:action => "update"}, validate: true do |f| %>
  <%= render :partial => 'houses/shared/new_edit', locals: {f: f} %>
<% end %>

