<h1><%= "All #{@houses.count} Houses" %> </h1><br/>
<%= link_to 'Add new house', new_house_path %><br/><br/>
<table id = "houses" class = "index">
  <thead>
  <tr>
    <th><%= sortable_link_to "phase", "Phase #" %></th>
    <th><%= sortable_link_to "plot_number", "Plot #" %></th>
    <th><%= sortable_link_to "number", "House #" %></th>
    <th><%= sortable_link_to "status", "Status" %></th>
    <th><%= sortable_link_to "area", "Built Area" %></th>
    <th><%= sortable_link_to "rwh", "rwh" %></th>
    <th/>
    <th/>
  </tr>
  </thead>
  <tbody>
  <% @houses.each do |house| %>
    <% present house do |house_presenter| %>
      <tr>
        <td><%=house_presenter.phase%></td>
        <td><%=house.plot_number%></td>
        <td><%=house.number%></td>
        <td><%=house_presenter.status%></td>
        <td><%=house.area%></td>
        <td><%=house_presenter.rwh%></td>
        <td><%= link_to "Show", house_path(house) %><span> | </span>
          <%= link_to "Edit", edit_house_path(house) %></td>
        <td><%= button_to 'Delete', house_path(house), :method => :delete, :confirm => 'Are you sure?' %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
