<% present @house do |house_presenter| %>
  <h2><%= "Details for House # #{@house.number}" %></h2><br/>

<ul class="show_fields">
    <li><label>Phase #: </label><span><%= house_presenter.phase %></span></li>
    <li><label>Plot #: </label><%= @house.plot_number %></li>
    <li><label>House #: </label><%= @house.number %></li>
    <li><label>Status: </label><%= house_presenter.status %></li>
    <li><label>Area: </label><%= @house.area %></li>
    <li><label>RWH : </label><%= house_presenter.rwh %></li>
</ul><br/>

<ul class = "show_links">
  <li><%= link_to "Edit House", edit_house_path(@house) %></li>
  <li><%= link_to 'Back to house list', houses_path %></li>
  <li><%= button_to 'Delete', house_path(@house), :method => :delete, :confirm => 'Are you sure?' %></li>
</ul>
<% end %>
