<h2><%= "All #{@plots.count} Plots" %> </h2>
<br/>
<%= link_to 'Add new plot', new_plot_path %>
<br/><br/>
<table id = "plots" class = "index">
  <thead>
  <tr>
    <th><%= sortable_link_to "phase", "Phase #" %></th>
    <th><%= sortable_link_to "number", "Plot #" %></th>
    <th><%= sortable_link_to "status", "Status" %></th>
    <th><%= sortable_link_to "area", "Area" %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @plots.each do |plot| %>
      <% present plot do |plot_presenter| %>
          <tr>
            <td><%=plot_presenter.phase%></td>
            <td><%=plot.number%></td>
            <td><%=plot_presenter.status%></td>
            <td><%=plot.area%></td>
            <td>
              <%= link_to "Show", plot_path(plot) %><span> | </span>
              <%= link_to "Edit", edit_plot_path(plot) %></td>
            <td>
              <%= button_to 'Delete', plot_path(plot), :method => :delete, :confirm => 'Are you sure?' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
