<% present @plot do |plot_presenter| %>
  <h2><%= "Details for Plot # #{@plot.number}" %></h2><br/>
<ul class="show_fields">
    <li><label>Phase #: </label><span><%= @plot.phase %></span></li>
    <li><label>Plot #: </label><%= @plot.number %></li>
    <li><label>Status: </label><%= plot_presenter.status %></li>
    <li><label>Area: </label><%= @plot.area %></li>
</ul><br/>

<ul class = "show_links">
  <li><%= link_to "Edit plot", edit_plot_path(@plot) %></li>
  <li><%= link_to 'Back to plot list', plots_path %></li>
  <li><%= button_to 'Delete', plot_path(@plot), :method => :delete, :confirm => 'Are you sure?' %></li>
</ul>
<% end %>

