<%= f.inputs do %>
  <%= f.input :email, label: "Email ID:", autofocus: true  %>
  <%= f.input :member_type, label: "Relative of :", as: :radio, collection: Relative.member_types %>
  <%= f.input :plot_number, label: "Plot #:" %>
  <%= f.input :house_number, label: "House #:" %>

<% end %>
<%= f.actions do %>
  <%= f.action :submit, :as => :input %>
<% end %>