<%= f.inputs do %>
  <%= f.input :name, label: "Name:", autofocus: true %>
  <%= f.input :email, label: "Email ID:" %>
  <%= f.input :password, label: "Password:" %>
  <%= f.input :password_confirmation, label: "Password Confirmation:" %>
<% end %>
<%= f.actions do %>
  <%= f.action :submit, :as => :input %>
<% end %>