<h1><%= "All #{@relatives.count} Relatives" %></h1><br/>
<%= link_to 'Add new relative', new_relative_path %><br/><br/>
<table id = "relatives" class = "index">
  <thead>
  <tr>
    <th><%= sortable_link_to "name", "Name" %></th>
    <th><%= sortable_link_to "email", "Email ID" %></th>
    <th><%= sortable_link_to "family", "Family of" %></th>

    <th><%= sortable_link_to "phase", "Phase #" %></th>
    <th><%= sortable_link_to "plot_number", "Plot #" %></th>
    <th><%= sortable_link_to "plot_area", "Area" %></th>

    <th><%= sortable_link_to "house_number", "House #" %></th>
    <th><%= sortable_link_to "house_status", "House Status" %></th>
    <th><%= sortable_link_to "house_area", "Area" %></th>
    <th><%= sortable_link_to "rwh", "RWH" %></th>

    <th/>
  </tr>
  </thead>
  <tbody>
  <% @relatives.each do |relative| %>
      <% present relative do |relative_presenter| %>
          <tr>
            <td><%=relative_presenter.name%></td>
            <td><%=relative_presenter.email%></td>
            <td><%=relative_presenter.relative%></td>

            <td><%=relative.phase%></td>
            <td><%=relative_presenter.plot_number%></td>
            <td><%=relative.plot_area%></td>

            <td><%=relative_presenter.house_number%></td>
            <td><%=relative_presenter.house_status%></td>
            <td><%=relative.house_area%></td>
            <td><%=relative_presenter.rwh%></td>

            <td><%= button_to 'Delete', relative_path(relative), :method => :delete, :confirm => 'Are you sure?' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
