<h1>Edit Existing user </h1>
<br/>
<%= semantic_form_for @user, :url => {:action => "update"}, :validate => true  do |f| %>
  <br/>
  <%= render partial: 'users/shared/new_edit', locals: {f: f} %>
<% end %>

