<h1><%= "All #{@users.count} Users" %> </h1><br/>
<%= link_to 'Add new user', new_user_path %><br/><br/>
<table id = "users" class = "index">
  <thead>
  <tr>
    <th><%= sortable_link_to "name", "Name" %></th>
    <th><%= sortable_link_to "email", "Email ID" %></th>
    <th/>
    <th/>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <% present user do |user_presenter| %>
          <tr>
            <td><%=user.name%></td>
            <td><%=user.email%></td>
            <td>
              <%= link_to "Show", user_path(user) %><span> | </span>
              <%= link_to "Edit", edit_user_path(user) %>
            </td>
            <td><%= button_to 'Delete', user_path(user), :method => :delete, :confirm => 'Are you sure?' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
