<% present @user do |user_presenter| %>
  <h2><%= "Details for User #{@user.email}" %></h2><br/>
  <ul class="show_fields">
    <li><label>Name: </label><span><%= @user.name %></span></li>
    <li><label>Email: </label><span><%= @user.email %></span></li>
  </ul><br/>

  <ul class = "show_links">
    <li><%= link_to "Edit user", edit_user_path(@user) %></li>
    <li><%= link_to 'Back to user list', users_path %></li>
    <li><%= button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?' %></li>
  </ul>
<% end %>
