<%= f.inputs do %>
  <%= f.input :email, label: "Email ID:", autofocus: true  %>
  <%= f.input :plot_number, label: "Plot #:" %>
<% end %>
<%= f.actions do %>
  <%= f.action :submit, :as => :input %>
<% end %>