<h1><%= "All #{@plot_owners.count} Plot Owners" %> </h1><br/>
<%= link_to 'Add new plot_owner', new_plot_owner_path %><br/><br/>
<table id = "plot_owners" class = "index">
  <thead>
  <tr>
    <th><%= sortable_link_to "name", "Name" %></th>
    <th><%= sortable_link_to "email", "Email ID" %></th>

    <th><%= sortable_link_to "phase", "Phase #" %></th>
    <th><%= sortable_link_to "plot_number", "Plot #" %></th>
    <th><%= sortable_link_to "plot_status", "Plot Status" %></th>
    <th><%= sortable_link_to "plot_area", "Area" %></th>

    <th/>
  </tr>
  </thead>
  <tbody>
  <% @plot_owners.each do |plot_owner| %>
      <% present plot_owner do |plot_owner_presenter| %>
          <tr>
            <td><%=plot_owner_presenter.name%></td>
            <td><%=plot_owner_presenter.email%></td>

            <td><%=plot_owner.phase%></td>
            <td><%=plot_owner_presenter.plot_number%></td>
            <td><%=plot_owner_presenter.plot_status%></td>
            <td><%=plot_owner.plot_area%></td>

            <td><%= button_to 'Delete', plot_owner_path(plot_owner), :method => :delete, :confirm => 'Are you sure?' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
