<% present @plot_owner do |plot_owner_presenter| %>
  <h2><%= "Details for Plot Owner #{@plot_owner.email}" %></h2><br/>
  <ul class="show_fields">
    <li><label>Name: </label><span><%= @plot_owner.name %></span></li>
    <li><label>Email: </label><span><%= @plot_owner.email %></span></li>
    <br/>
    <li><label>Phase #: </label><%= @plot_owner.phase %></li>
    <li><label>Plot #: </label><%= plot_owner_presenter.plot_number %></li>
    <li><label>Plot Status: </label><%=plot_owner_presenter.plot_status%></li>
    <li><label>Plot Area: </label><%=@plot_owner.plot_area%></li>
  </ul><br/>

  <ul class = "show_links">
    <li><%= link_to 'New Plot Owner', new_plot_owner_path %></li>
    <li><%= link_to 'Back to Plot Owner list', plot_owners_path %></li>
    <li><%= button_to 'Delete', plot_owner_path(@plot_owner), :method => :delete, :confirm => 'Are you sure?' %></li>
  </ul>
  <% end %>
