$main-background-color: #FFFBB9;
$menu-background-color: #CCCCCC;
$menu-domain-background-color: #CCCCCC;
$menu-members-background-color: #DDDDDD;
$border-color:          #999999;
* {
  margin: 0px;
  padding: 0px;
}

h1  {
  font: bold 20px verdana, sans_serif;
}

h2  {
  font: bold 14px verdana, sans_serif;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup  {
  display:block;
}

body  {
  text-align: center;
}

#wrapper  {
  width:      960px;
  margin:     auto;
  text-align: left;
}

#main_header  {
  background: $main-background-color;
  border:     1px solid gray;
  padding:    20px;
}

#main_header  {
  .user_nav  {
    top: 15px;
    right: 200px;
    font-size: 14px;
    padding: 5px 15px;
    text-align: right;
    color: darkgray;
    position: absolute;
    li  {
      display: inline-block;
    }
  }
}



#main_menu  {
  padding: 5px 15px;
}

#main_menu_domain_data  {
  background: $menu-domain-background-color;
}

#main_menu_members_data  {
  background: $menu-members-background-color;
}

#main_menu li{
  display:    inline-block;
  list-style: none;
  padding:    5px;
  font:       bold 14px verdana, sans-serif;
}

#main_section {
  float:  left;
  width:  660px;
  margin: 20px;
}

#main_aside {
  float:    left;
  width:    220px;
  margin:   20px 0px;
  padding:  20px;
  background: #CCCCCC;
}

#main_footer {
  clear:      both;
  text-align: center;
  padding:    20px;
  border-top: 2px, solid $border-color;
}

article {
  background: $main-background-color;
  border:     1px solid $border-color;
  padding:    20px;
  margin-bottom:  15px;
}

article footer  {
  text-align: right;
}

time  {
  color:  $border-color;
}

figcaption  {
  font: italix 14px verdana, sans-serif;
}

