
.alert-notice  {
  color: green;
  margin-bottom: 10px;
  font-weight: bold;
}

.alert-error, .alert-alert {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
}

.hint, .error {
  clear: left;
  font-size: 12px;
  color: #D00;
  display: block;
}

table.index {
  border: 1px solid black;
  border-collapse: collapse;
  th {
    padding: 5px;
    border: 1px solid black;
  }

  td {
    padding: 5px;
    border: 1px solid black;
  }
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(arrow_up.png);
}

th .desc {
  background-image: url(arrow_down.png);
}

ul.show_fields {
  list-style: none;
  li  {
    margin-left: 20px;
    label {
      font-weight: bold;
      width: 100px;
      text-align: right;
      margin: 2px 10px;
    }
    span  {
      text-align: left;
    }
  }
}

ul.show_links {
  list-style: none;
  margin-left: 20px;
  li  {
    display: inline-block;
  }
}


