<h1><%= "All #{@house_owners.count} House Owners" %></h1><br/>
<%= link_to 'Add new house_owner', new_house_owner_path %><br/><br/>
<table id = "house_owners" class = "index">
  <thead>
  <tr>
    <th><%= sortable_link_to "name", "Name" %></th>
    <th><%= sortable_link_to "email", "Email ID" %></th>

    <th><%= sortable_link_to "phase", "Phase #" %></th>
    <th><%= sortable_link_to "plot_number", "Plot #" %></th>
    <th><%= sortable_link_to "plot_area", "Area" %></th>

    <th><%= sortable_link_to "house_number", "House #" %></th>
    <th><%= sortable_link_to "house_status", "House Status" %></th>
    <th><%= sortable_link_to "house_area", "Area" %></th>
    <th><%= sortable_link_to "rwh", "RWH" %></th>

    <th/>
  </tr>
  </thead>
  <tbody>
  <% @house_owners.each do |house_owner| %>
      <% present house_owner do |house_owner_presenter| %>
          <tr>
            <td><%=house_owner_presenter.name%></td>
            <td><%=house_owner_presenter.email%></td>

            <td><%=house_owner.phase%></td>
            <td><%=house_owner_presenter.plot_number%></td>
            <td><%=house_owner.plot_area%></td>

            <td><%=house_owner_presenter.house_number%></td>
            <td><%=house_owner_presenter.house_status%></td>
            <td><%=house_owner.house_area%></td>
            <td><%=house_owner_presenter.rwh%></td>

            <td><%= button_to 'Delete', house_owner_path(house_owner), :method => :delete, :confirm => 'Are you sure?' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
