<% present @house_owner do |house_owner_presenter| %>
  <h2><%= "Details for House Owner #{@house_owner.email}" %></h2><br/>
  <ul class="show_fields">
    <li><label>Name: </label><span><%= @house_owner.name %></span></li>
    <li><label>Email: </label><span><%= @house_owner.email %></span></li>
    <br/>
    <li><label>Phase #: </label><%= @house_owner.phase %></li>
    <li><label>Plot #: </label><%= house_owner_presenter.plot_number %></li>
    <li><label>Plot Status: </label><%=house_owner_presenter.plot_status%></li>
    <li><label>Plot Area: </label><%=@house_owner.plot_area%></li>

    <li><label>House #: </label><%= house_owner_presenter.house_number %></li>
    <li><label>House Status: </label><%=house_owner_presenter.house_status%></li>
    <li><label>House Area: </label><%=@house_owner.house_area%></li>
    <li><label>RWH #: </label><%= @house_owner.rwh %></li>
  </ul><br/>

  <ul class = "show_links">
    <li><%= link_to 'New House Owner', new_house_owner_path %></li>
    <li><%= link_to 'Back to House Owner list', house_owners_path %></li>
    <li><%= button_to 'Delete', house_owner_path(@house_owner), :method => :delete, :confirm => 'Are you sure?' %></li>
  </ul>
  <% end %>
