<!DOCTYPE html>
<html>
<head>
  <title>Rbd</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller].parameterize %>_controller">
<div id="wrapper">
  <header id="main_header">
    <div class = "logo">
      <a href="/">
        <img alt="Rainbow Drive Community" src="/assets/RBD Logo - Rect.jpg" width="67" height="41"></a>
      <strong style="font-size:24px">Rainbow Drive Community</strong>
    </div>
    <div class = "user_nav">
      <% if current_user %>
          Welcome <%= current_user.email %>
          <%= link_to "Logout", session_path("current"), method: "delete" %>
      <% else %>
          <%= link_to "Sign Up", new_user_path %> or
          <%= link_to "Log In", new_session_path %>
      <% end %>
      |
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Location", location_path %></li>
    </div>
  </header>
  <nav id="main_menu">
    <ul id="main_menu_domain_data">
      Domain Data -
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Plots", plots_path %></li>
      <li><%= link_to "Houses", houses_path %></li>
    </ul>
    <ul id="main_menu_members_data">
    Members Data -
      <li><%= link_to "Members", members_path %></li>
      <li><%= link_to "Owners", owners_path %></li>
      <li><%= link_to "Plot Owners", plot_owners_path %></li>
      <li><%= link_to "House Owners", house_owners_path %></li>
      <li><%= link_to "Tenants", tenants_path %></li>
      <li><%= link_to "Relatives", relatives_path %></li>
    </ul>
  </nav>
  <div class="container">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <%= yield %>

  <footer id="main_footer">
    <small>Copyright &copy 2013</small>
  </footer>
</div>
</body>
</html>
