<h1><%= "All #{@members.count} Members" %></h1><br/>
<table id = "members" class = "index">
  <thead>
  <tr>
    <th><%= sortable_link_to "name", "Name" %></th>
    <th><%= sortable_link_to "email", "Email ID" %></th>

    <th><%= sortable_link_to "phase", "Phase #" %></th>
    <th><%= sortable_link_to "plot_number", "Plot #" %></th>
    <th><%= sortable_link_to "plot_status", "Plot Status" %></th>
    <th><%= sortable_link_to "plot_area", "Area" %></th>

    <th><%= sortable_link_to "type", "Member Type" %></th>

    <th><%= sortable_link_to "house_number", "House #" %></th>
    <th><%= sortable_link_to "house_status", "House Status" %></th>
    <th><%= sortable_link_to "rwh", "rwh" %></th>
    <th><%= sortable_link_to "house_area", "Built Area" %></th>
    <th><%= sortable_link_to "family", "Family of" %></th>
  </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
      <% present member do |member_presenter| %>
          <tr>
            <td><%=member_presenter.name%></td>
            <td><%=member_presenter.email%></td>

            <td><%=member.phase%></td>
            <td><%=member_presenter.plot_number%></td>
            <td><%=member_presenter.plot_status%></td>
            <td><%=member.plot_area%></td>

            <td><%=member.type%></td>

            <td><%=member_presenter.house_number%></td>
            <td><%=member_presenter.house_status%></td>
            <td><%=member_presenter.rwh%></td>
            <td><%=member.house_area%></td>

            <td><%=member_presenter.relative%></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
