<% present @member do |member_presenter| %>
  <h2><%= "Details for Member #{@member.email}" %></h2><br/>
  <ul class="show_fields">
    <li><label>Name: </label><span><%= @member.name %></span></li>
    <li><label>Email: </label><span><%= @member.email %></span></li>
    <li><label>User is: </label><%= @member.type %></li>
    <br/>
    <li><label>Phase #: </label><%= @member.phase %></li>
    <li><label>Plot #: </label><%= member_presenter.plot_number %></li>
    <li><label>Plot Status: </label><%=member_presenter.plot_status%></li>
    <li><label>Plot Area: </label><%=@member.plot_area%></li>

    <li><label>House #: </label><%= member_presenter.house_number %></li>
    <li><label>House Status: </label><%=member_presenter.house_status%></li>
    <li><label>RWH: </label><%=member_presenter.rwh%></li>
  </ul><br/>

  <ul class = "show_links">
    <li><%= link_to 'Back to member list', members_path %></li>
  </ul>
  <% end %>
